<form action="<%= session_path %>" method="post">

  <h3>Sign up for Perfect Rez</h3>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="input-field">
    <label for="username">Username</label>
    <input type="text"
           class="materialize-textarea"
           name="user[username]">
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password"
           class="materialize-textarea"
           name="user[password]">
  </div>

  <div class="input-field">
    <label for="password-confirmation">Password Confirmation</label>
    <input type="password"
           class="materialize-textarea"
           name="user[password_confirmation]">
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light makeBlue" type="submit" name="commit" value="Create User">Submit
      <i class="fa fa-paper-plane"></i>
    </button>
  </div>
</form>

<a href="<%= new_session_path %>">Sign Up!</a>
