<form action="<%= session_path %>" method="post">

  <h3>Sign up for Perfect Rez</h3>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="input-field">
    <label for="username">Username</label>
    <input type="text"
           name="user[username]">
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password"
           name="user[password]">
  </div>

  <div class="input-field">
    <label for="password-confirmation">Password Confirmation</label>
    <input type="password"
           name="user[password_confirmation]">
  </div>

  <div class="actions">
    <button class="" type="submit" name="action">Submit</button>
  </div>
</form>

<a href="<%= new_session_path %>">Sign Up!</a>
