<form action="<%= session_path %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="input-field">
    <input type="text"
           placeholder="Username"
           name="user[username]">
  </div>

  <div class="input-field">
    <input type="password"
           placeholder="Password"
           name="user[password]">
  </div>

  <div class="actions">
    <button class="btn waves-effect waves-light blue rightFloat" type="submit" name="commit" value="Create User">Log in
      <i class="fa fa-check"></i>
    </button>
  </div>
</form>

<!-- <a class="btn waves-effect waves-light blue modal-trigger" href="#modal2">Sign Up!</a> -->
