<form action="<%= session_path %>" method="post">

  <h2>Sign in to PerfectRez</h2>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <div class="input-field">
    <label for="username">Username</label>
    <input type="text"
           name="user[username]">
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password"
           name="user[password]">
  </div>

  <div class="actions">
    <button class="" type="submit" name="action">Submit</button>
  </div>
</form>

<a href="<%= new_user_path %>">Sign Up!</a>
