<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <label type="hidden" for="post_user_id">User</label><br> -->
    <input type="hidden" name="post[user_id]" id="post_user_id" value="<%= @user.id  %>">
  </div>
    <input type="text" name="post[post]" class="user_search_bar" id="post_post" placeholder="Tell me something">
    <button class="btn waves-effect waves-light makeBlue user_search_btn_right" type="submit" name="commit" value="Create Post">
      <i class="fa fa-check btnsze"></i>
    </button>
<% end %>
